html {
	width: 1024px;
	height: 576px;
}

#main {
	margin-left: 120px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

.background{
	z-index: -1;
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	padding-left: -8%;
}