html {
	width: 1300px;
	height: 800px;
}

#main {
	margin-left: 120px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

.background{
	z-index: -100;
	width: 100%;
	height: 300px;
	position: absolute;
	bottom: 0;
	padding-left: -20;
}